h1 {
  background: linear-gradient(to right, rgba(132,149,233,0.5), rgba(0, 0, 0, .3));
}

table {
  width: 100%;
}

.item{
  text-align: center;
  width: 50%;
  height: 300px;
  display: inline-block;
  float: left;
  overflow: auto;

  .tableimage {
    img{
      width: auto;
    }

    overflow: auto;
  }
}