.order_info
  h4 Order Information

= render partial: "vault_lot", object: @single_vault

.customer_info
  p
    'First Name: '
    = @new_customer.first_name
  p
    'Last Name: '
    = @new_customer.last_name
  p
    'Address: '
    = "#{@new_customer.street}, #{@new_customer.city}, #{@new_customer.province.name}"
  p
    'Phone Number: '
    = @new_customer.phone_number
  p
    'Grand Total: '
    = number_to_currency(@grand_total)